@font-face {
   font-family: 'Benzin-Semibold';
   font-display: swap;
   src: url('file:///C:/Users/admin/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-02-06_004425/fonts/Benzin-Semibold/font.ttf');
}
