
@font-face {
  font-family: 'Benzin';
  src: url('/fonts/Benzin-Regular/font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Benzin';
  src: url('/fonts/Benzin-Medium/font.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Benzin';
  src: url('/fonts/Benzin-Bold/font.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Benzin';
  src: url('/fonts/Benzin-ExtraBold/font.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Benzin';
  src: url('/fonts/Benzin-Semibold/font.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
